:root {
  --bs-purple: #6f42c1;
}

i.lab,
i.las {
  font-size: 20px;
}

.navbar i {
  font-size: 25px !important;
}

.modal i {
  font-size: 20px !important;
}

footer i {
  font-size: 18px !important;
}

.features i {
  color: var(--bs-purple);
}

.btn {
  background-color: var(--bs-purple) !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  color: #fff !important;
  border-radius: 100px !important;
  padding: 10px 30px !important;
}

.btn_p_dim {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.btn_subscribe {
  background-color: #fff !important;
  color: #6f42c1 !important;
}

.selectpaymentmethod .form-group,
.selectpaymentmethod .methods {
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.selectpaymentmethod label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: var(--bs-purple);
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.copleteIcon {
  color: var(--bs-purple);
  font-size: 7rem !important;
}

.hero-heading {
  color: var(--bs-purple);
}

.dashboard {
  padding: 30px 0;
}

.dashboard .nav-link {
  text-align: left;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin-bottom: 8px;
}

.dashboard .title {
  font-size: 20px;
  margin-bottom: 30px !important;
  color: #6f42c1;
  display: block;
}

.dashboard .orderTable .heading {
  background-color: #f8f8f8;
  border-radius: 5px !important;
}

.dashboard .orderTable .order {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: middle;
}

.dashboard .orderTable .order .sn {
  width: 5%;
}

.dashboard .orderTable .order .pimage {
  width: 15%;
}

.dashboard .orderTable .order .pdetails {
  width: 30%;
}

.dashboard .orderTable .order .odetails {
  width: 30%;
}

.dashboard .orderTable .order .paction {
  width: 20%;
}

.dashboard .order .pimage img {
  height: 100px !important;
}

.dashboard table,
.dashboard tr,
.dashboard td {
  border: none;
}

.dashboard tr:hover {
  background-color: #fafafa;
}

.bg_p_dim {
  background-color: var(--bs-purple-dim);
}

.text_p {
  color: var(--bs-purple) !important;
}

.rounded {
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.f14 {
  font-size: 14px !important;
}

.fwb {
  font-weight: 700;
}

.navbar-brand img {
  max-width: 80px;
}

.navbar {
  padding: 0px !important;
}

.navbar .dropdown-menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0px;
  border: none;
  min-width: 200px;
  max-width: 100%;
  border-top: none;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.navbar .dropdown-menu > li {
  padding: 5px 15px;
  position: relative;
  /* background-color: red; */
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.navbar .dropdown-menu > li:last-child {
  border-bottom: 1px solid transparent;
}

.navbar .dropdown-menu > li:hover i {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.navbar .dropdown-menu > li:hover {
  color: var(--bs-purple);
}

.navbar .dropdown-menu > li ul {
  background-color: #fff;
  position: absolute;
  top: 0;
  display: none;
  left: 100%;
  max-width: 100%;
  border-radius: 5px;
  min-width: 400px;
  padding: 0px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) !important;
  list-style: none;
  margin: 0px;
}

.navbar .dropdown-menu > li:hover ul {
  background-color: #fff;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.navbar .dropdown-menu > li ul li {
  border-bottom: 1px solid #eee;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 5px 15px;
}

.navbar .dropdown-menu > li ul li a {
  color: #444;
}

.navbar .dropdown-menu > li ul li a:hover {
  color: var(--bs-purple);
}

.navbar .dropdown-menu > li ul li:hover {
  border-bottom: 1px solid #eee;
  padding: 5px 20px;
}

.navbar .dropdown-menu i {
  font-size: 14px !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--bs-purple);
}

.navbar .formwrapper .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.navbar .formwrapper .form-control {
  border-radius: 100px;
  padding-left: 20px;
}

.navbar .formwrapper {
  position: relative;
  margin-left: 15px;
}

.navbar .formwrapper .btn {
  padding: 3px !important;
  position: absolute;
  right: 6px;
  background-color: transparent !important;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar .formwrapper .btn i {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  font-size: 22px !important;
  margin-top: 5px;
  color: #bbb;
}

.navbar .formwrapper .btn:hover i {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  font-size: 22px !important;
  color: var(--bs-purple) !important;
}

.navbar .formwrapper .btn:focus,
.navbar .formwrapper .btn:hover {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--bs-purple) !important;
}

.stickyHeader {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999 !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a:focus {
  text-decoration: none !important;
}

.subscriptionForm input {
  padding: 10px 20px !important;
  height: auto !important;
}

.modal-close {
  right: 15px !important;
}

.modal-close i {
  color: #fff !important;
}

.categories .catwrapper {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.categories .catwrapper .cat {
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  position: relative;
  cursor: pointer;
  border: 1px solid #eee;
  /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); */
}

.categories .catwrapper .cat img {
  height: 120px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.categories .catwrapper .cat .label {
  padding: 15px;
  position: relative;
  z-index: 99;
  background-color: #fff;
}

.categories .catwrapper .cat .icon {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.categories .catwrapper .cat:hover .icon {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: var(--bs-purple);
}

.categories .catwrapper .cat:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .categories .catwrapper {
    margin: 15px 0;
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
  }
}

.navbar-light .navbar-toggler {
  border: none !important;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.brandMenuandItem .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.navbar .dropdown-menu > li .labelarea a {
  color: #444;
}

@media screen and (max-width: 992px) {
  .categories {
    padding: 0px !important;
  }
  .subscriptionForm {
    padding-top: 15px;
  }
  .subscriptionForm .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .subscriptionForm .input-group input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .brandswrapper .brandMenuandItem {
    padding: 15px 0;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .brandswrapper .brandMenuandItem .nav {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-bottom: 15px;
  }
  .brandswrapper .brandMenuandItem .nav .nav-link {
    width: 100%;
    display: block;
  }
  body {
    overflow-x: hidden;
  }
  .catmenu {
    display: none !important;
  }
  header {
    background-color: rgba(111, 66, 193, 0.08);
  }
  header .orderManage {
    -webkit-column-gap: 5px !important;
            column-gap: 5px !important;
  }
  header .orderManage .navbar-toggler {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .orderManage .navbar-brand {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  header .orderManage .searchForm {
    -webkit-box-ordinal-group: 4 !important;
        -ms-flex-order: 3 !important;
            order: 3 !important;
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7;
    padding-right: 15px;
  }
  header .navbar .dropdown-menu > li {
    padding: 0px !important;
  }
  header .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background-color: rgba(111, 66, 193, 0.1);
  }
  header .navbar-collapse .categiriesatMenu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 15px !important;
  }
  header .navbar-collapse .nav_user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(111, 66, 193, 0.1);
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 10px !important;
  }
  header .navbar-collapse .nav_user li {
    margin-right: 0px !important;
    border-bottom: none !important;
  }
  header .navbar-brand {
    margin-right: 0px !important;
  }
  header .navbar-nav {
    margin: 0px !important;
    padding: 0px !important;
  }
  header .navbar-nav .nav-link {
    padding-left: 0px !important;
  }
  .navbar .dropdown-menu {
    max-height: 80vh;
    overflow-y: auto !important;
  }
  .navbar .dropdown-menu {
    width: 100% !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .navbar .dropdown-menu > li .labelarea {
    padding: 5px 15px !important;
    background-color: rgba(111, 66, 193, 0.2);
  }
  .navbar .dropdown-menu > li .labelarea a {
    color: #6f42c1;
  }
  .navbar-nav .nav-link {
    padding: 10px 15px !important;
  }
  .categories .catwrapper {
    margin: 15px 0;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.catmenu {
  background-color: var(--bs-purple);
  z-index: 99;
}

.catmenu .navbar {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: transparent !important;
  padding: 0px !important;
}

.catmenu .navbar i {
  font-size: 20px !important;
}

.catmenu .nav-link {
  color: #fff !important;
  padding: 5px 15px !important;
}

.catmenu .nav-link:hover {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.2);
}

.brandsBanner {
  background-color: #6f42c1;
  overflow-x: hidden;
  padding: 60px 0;
  color: #fff;
}

.brandsBanner .product img {
  height: 300px !important;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.brandsBanner .text-muted {
  color: rgba(255, 255, 255, 0.8) !important;
  margin-bottom: 20px !important;
}

.brandsBanner .subtitle {
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  padding: 10px 15px;
  border-radius: 100px;
}

.brandsBanner .brandswrapper .nav {
  row-gap: 15px;
}

.brandsBanner .brandswrapper .imagewrapper img {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}

.brandsBanner .brandswrapper .nav .nav-link {
  padding: 10px 15px;
  min-width: 200px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: #fff;
  margin-bottom: 0px;
}

.brandsBanner .brandswrapper .nav .active {
  position: relative;
  background-color: #fff !important;
  color: #6f42c1 !important;
}

.cta {
  border-radius: 100px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: transparent !important;
}

.product .shadow {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.product-btn {
  border-radius: 100px;
  margin-bottom: 2px;
  color: #6f42c1 !important;
  height: 50px !important;
  width: 50px !important;
  line-height: 50px !important;
  text-align: center !important;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.product-btn:hover {
  background-color: #6f42c1;
  color: #fff !important;
}

.text_w {
  color: #fff;
}

.mainFooter {
  color: #fff;
}

.mainFooter .discount {
  padding: 30px;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  background-color: #6f42c1 !important;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 10px;
}

.mainFooter .discount .text-muted {
  color: #fff !important;
}

.mainFooter .discount .form-control {
  background-color: rgba(255, 255, 255, 0.3) !important;
  border-radius: 100px !important;
  border: none !important;
  color: #fff !important;
  margin-right: 10px;
}

.mainFooter .discount .form-control::-webkit-input-placeholder {
  color: #fff !important;
}

.mainFooter .discount .form-control:-ms-input-placeholder {
  color: #fff !important;
}

.mainFooter .discount .form-control::-ms-input-placeholder {
  color: #fff !important;
}

.mainFooter .discount .form-control::placeholder {
  color: #fff !important;
}

.bg_p_dim {
  background-color: rgba(111, 66, 193, 0.03) !important;
}

.features {
  padding: 30px 0px 90px;
}

header .navbar .badge {
  background-color: #6f42c1;
}

.mainHeader .dropdown-menu {
  z-index: 999 !important;
}

#brandsSlider {
  max-width: 100%;
}

.aboutWrapper {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.faqwrapper .card {
  border: none;
  margin-bottom: 15px;
}

.faqwrapper .card-header {
  padding: 0px !important;
  border: none;
  background-color: rgba(111, 66, 193, 0.1);
}

.faqwrapper .card-header .btn {
  border-radius: 0px !important;
  width: 100%;
  text-align: left;
  border-radius: 5px !important;
  text-decoration: none !important;
}

.checkoutPage .purchase .productDetails .image {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.checkoutPage .purchase .productDetails .details {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  padding-left: 10px;
}

.checkoutPage .purchase .productDetails img {
  border-radius: 5px;
}

.gap_small {
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.flex5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.flex6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.table tr,
.table td {
  border: none;
}

.table .thead {
  border-bottom: 1px solid #eee;
}

.f16 {
  font-size: 18px;
}

.paymentOption {
  position: relative;
  text-align: center;
}

.paymentOption label {
  margin: 0px !important;
  padding: 15px !important;
  display: block;
  background-color: rgba(111, 66, 193, 0.08);
  border-radius: 8px;
  width: 100%;
  text-align: center !important;
}

.paymentOption label img {
  height: 50px;
}

.btn_secondary {
  border: 1px solid #6f42c1 !important;
  background-color: rgba(111, 66, 193, 0.08) !important;
  color: #6f42c1 !important;
}
/*# sourceMappingURL=styles.css.map */